950.СМА_Единый_стандарт_передаваемых_данных_в_ЕСМА_v1.1.docx
210716_ЦОДД_демо.docx
point_202310101547.csv
tracks.csv
Архив.ipynb
Вопросы_по_данным.txt
Отчёт_по_мониторингу_автотранспорта.docx
План_работы_над_проектом.txt
План_работы_над_проектом_Vehicle_monitoring.txt
Правило_работы.txt
Разобраться.txt
.ipynb_checkpoints/